{% extends 'base.html' %}

{% block contenido1 %}
<p>Bienvenido a tu cuenta</p>
{% endblock %}

{% block contenido %}
<main class="container-body">
  <div id="contenido" class="pages-container-fluid pt-2 pb-2 pl-5 pr-5">
    <div class="col-12 col-xl-12 mb-4 align-items-stretch">
      <!-- Mensaje de bienvenida con el nombre del usuario o "invitado" si no está logueado -->
      <h4>Bienvenido, {% if user.is_authenticated %}{{ user.username }}{% else %}invitado{% endif %}!</h4>
      
      <!-- Información de la tarjeta con el saldo disponible -->
      <div class="card">
        <h5 class="card-header">Dinero disponible</h5>
        <div class="card-body">
          <h5 class="card-title">$ {{ saldo|default:0 }}</h5>
          <p>El saldo actual de tu cuenta es: ${{ saldo|default:0 }}</p>
          
          <!-- Botones para ingresar dinero y transferir dinero -->
          <a class="btn btn-primary" href="{% url 'ingresar_dinero' %}" role="button">Ingresar Dinero</a>
          <a href="{% url 'realizar_transferencia' %}" class="btn btn-primary">Transferir Dinero</a>

        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}


