
						<!-- COMIENZO DEL SECTOR DE TARJETAS DE CANTIDAD-->
{% extends 'base.html' %}

{% block contenido1 %}


{% endblock %}

{% block contenido %}


<main class="container-body">
  <div id="contenido" class="pages-container-fluid pt-2 pb-2 pl-5 pr-5">
    <div class="col-12 col-xl-12 mb-4 align-items-stretch">
      <!-- Mensaje de bienvenida con el nombre del usuario o "invitado" si no está logueado -->
      <h4>Bienvenido,{% if user.is_authenticated %}{{ user.username }}{% else %}invitado{% endif %}!</h4>
      
      <!-- Información de la tarjeta -->
      <div class="card">
        
        <div class="card-body">
         
        	<div id="tabla" class="row">

				<div _ngcontent-c4="" class="col-12 col-xl-12 mb-4 align-items-stretch">
					<div _ngcontent-c4="" class="card h-100 border-0 rounded-0">
						<div _ngcontent-c4="" class="card-title mb-1 p-3 d-flex">
							<h5 class="card-header">LISTADO DE MOTIVOS </h5> <a href="{% url 'transacciones:crear_motivo' %}" type="button" class="btn btn-danger btn-sm">Agregar Nuevo</a>
							<a _ngcontent-c4="" class="btn ml-auto p-0 text-lightning">
								<i _ngcontent-c4="" class="fas fa-ellipsis-h"></i>
							</a>
						</div>
						<div _ngcontent-c4="" class="card-body">
							<div _ngcontent-c4="" class="table-responsive-md">
								<div _ngcontent-c4="" class="table-responsive">
									<table _ngcontent-c4="" class="table ">
										<thead _ngcontent-c4="">
											<tr _ngcontent-c4="">
												
												<th _ngcontent-c4="" style="width:10%;">ID</th>
												<th _ngcontent-c4="" style="width:20%;">NOMBRE</th>
												<th _ngcontent-c4="" class="actions" style="width:5%;"></th>
												<th _ngcontent-c4="" class="actions" style="width:5%;"></th>
												
											</tr>
										</thead>
										<tbody _ngcontent-c4="" class="no-border-x">
											{% for p in motivos%} 
													<tr _ngcontent-c4="">
														<td _ngcontent-c4="">{{p.id}}</td>
														<td _ngcontent-c4="" class="number">{{ p.nombre }}</td>
														<td _ngcontent-c4="" class="actions">
															<a href="{% url 'transacciones:modificar_motivo' p.id %}" type="button" class="btn btn-danger btn-sm">EDITAR</a>
														</td>
														<td _ngcontent-c4="" class="actions">
															<a href="{% url 'transacciones:eliminar_motivo' p.id %}" type="button" class="btn btn-danger btn-sm">ELIMINAR</a>
														</td>
													</tr>
											{% endfor %} 
										</tbody>
									</table>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			


			</div>

        </div>
      </div>
    </div>
  </div>
</main>
			

{% endblock %}

