


						<!-- COMIENZO DEL SECTOR DE TARJETAS DE CANTIDAD-->
{% extends 'base.html' %}

{% block contenido1 %}


{% endblock %}

{% block contenido %}


<main class="container-body">
  <div id="contenido" class="pages-container-fluid pt-2 pb-2 pl-5 pr-5">
    <div class="col-12 col-xl-12 mb-4 align-items-stretch">
      <!-- Mensaje de bienvenida con el nombre del usuario o "invitado" si no está logueado -->
      <h4>Bienvenido,{% if user.is_authenticated %}{{ user.username }}{% else %}invitado{% endif %}!</h4>
      
      <!-- Información de la tarjeta -->
      <div class="card">
        
        <div class="card-body">
         
        	<div id="tabla" class="row">

				<div _ngcontent-c4="" class="col-12 col-xl-12 mb-4 align-items-stretch">
					<div _ngcontent-c4="" class="card h-100 border-0 rounded-0">
						<div _ngcontent-c4="" class="card-title mb-1 p-3 d-flex">
							<h5 class="card-header">HISTORIAL DE MOVIMIENTOS </h5>
							<a _ngcontent-c4="" class="btn ml-auto p-0 text-lightning">
								<i _ngcontent-c4="" class="fas fa-ellipsis-h"></i>
							</a>
						</div>
						<div _ngcontent-c4="" class="card-body">
							<div _ngcontent-c4="" class="table-responsive-md">
								<div _ngcontent-c4="" class="table-responsive">
									<table _ngcontent-c4="" class="table ">
										<thead _ngcontent-c4="">
											<tr _ngcontent-c4="">
												
												<th _ngcontent-c4="" style="width:10%;">FECHA y HORA</th>
												
												<th _ngcontent-c4="" style="width:15%;">TIPO DE OPERACION</th>
												<th _ngcontent-c4="" class="actions" style="width:5%;"></th>
												<th _ngcontent-c4="" class="actions" style="width:5%;"></th>
												
											</tr>
										</thead>
										<tbody _ngcontent-c4="" class="no-border-x">
											{% for p in movimientos%} 
													<tr _ngcontent-c4="">
														<td _ngcontent-c4="">{{p.fecha}}</td>
														
														{% if p.tipo == "ingreso" %}
														
														    <td _ngcontent-c4="" class="text-success">ingresaste: ${{p.monto}}</td>
															<td _ngcontent-c4="" class="text-success"> </td>
														{% elif p.tipo == "transferencia" %}
														
														    <td _ngcontent-c4="" class="text-success">transferiste a
														    {{p.cuenta_destino.usuario.username}}: ${{p.monto}}</td>
														    <td _ngcontent-c4="" class="text-success"> </td>
														{% elif p.tipo == "ingreso transferencia"%}
														
														    <td _ngcontent-c4="" class="text-success">recibiste de {{p.cuenta_origen.usuario.username}}: ${{p.monto}} </td>
														    <td _ngcontent-c4="" class="text-success"> </td>
														{% endif %}
														
														
														<td _ngcontent-c4="" class="actions">
															<a href="#" type="button" class="btn btn-danger btn-sm">Detalles</a>
														</td>
													</tr>
											{% endfor %} 
										</tbody>
									</table>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			


			</div>

        </div>
      </div>
    </div>
  </div>
</main>
			

{% endblock %}

