{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block contenido %}
<main class="container-body">
  <div id="contenido" class="pages-container-fluid pt-4 pb-4 pl-4 pr-4">
    <div class="row">
      <!-- Formulario de transferencia -->
      <div class="col-md-12 mb-4">
        <div class="card border-0 rounded-0">
          <div class="card-title mb-1 p-3">
            <h5>TRANSFERIR DINERO</h5>
          </div>
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              <!-- Campo para el usuario (nombre o correo) -->
              <div class="mb-3">
                <label for="usuario" class="form-label">IMPORTE</label>
                <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Ingresa el usuario" required>
                <div id="emailHelp" class="form-text">Ingrese el importe al que desea enviar dinero.</div>
              </div>
              <!-- Botón de continuar -->
              <a class="btn btn-primary" href="{% url 'confirmacion_transferencia' %}"role="button">CONTINUAR</a>
            </form>
          </div>
        </div>
      </div>
    </div>
</main>

<!-- Enlace al JS de Bootstrap (para interacciones, modales, etc.) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}
