{% extends 'base.html' %}

{% block contenido1 %}
<p>Tickets</p>

{% endblock %}


{% block contenido %}
                        <!-- COMIENZO DEL SECTOR DE TARJETAS DE CANTIDAD-->


<main class="container-body">
  <div id="contenido" class="pages-container-fluid pt-2 pb-2 pl-5 pr-5">
    <div class="col-12 col-xl-12 mb-4 align-items-stretch">
      <!-- Mensaje de bienvenida con el nombre del usuario o "invitado" si no está logueado -->
      <h4>Bienvenido, {% if user.is_authenticated %}{{ user.username }}{% else %}invitado{% endif %}!</h4>
      
      <!-- Información de la tarjeta -->
      <div class="card">
        <h5 class="card-header">Dinero disponible</h5>
        <div class="card-body">
          <h5 class="card-title">$ {{ importe|default:0 }}</h5>
          <p>El importe ingresado es: {{ importe|default:0 }}</p>
          
          <!-- Botones para acciones -->
          <!--<button type="button" class="btn btn-light">Ingresar Dinero</button>
          <button type="button" class="btn btn-light" onclick="window.location.href='#' %}'">Transferir Dinero</button>-->
          <a class="btn btn-primary" href="ingresar_dinero" role="button">Ingresar Dinero</a>
          <a class="btn btn-primary" href="realizar_transferencia" role ="button" >Transferir Dinero</a>
        </div>
      </div>
    </div>
  </div>
</main>


{% endblock %}


