{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block contenido %}
	<div class="container-lg container-sm">
		<div class="row">
			<div class="col-lg-12 col-sm-12 form-group justify-content-center mt-5 pt-5">
				<section class="form-registro">
				
						<h1>Registrate</h1>
						{{form.errors}}
						<form method="POST" enctype="multipart/form-data">{% csrf_token %}
							<div class="form-row container-lg container-sm mx-5">
								<div class="col-lg-12 mr-auto my-3">
									{{form.username|as_crispy_field}}
								</div>
								<div class="col-lg-12 col-sm-12 mr-auto my-3 justify-content-center">
									{{form.email|as_crispy_field}}
								</div>
								<div class="col-lg-12 col-sm-12 mr-auto my-3">
									{{form.first_name|as_crispy_field}}
								</div>
								<div class="col-lg-12 col-sm-12 mr-auto my-3">
									{{form.last_name|as_crispy_field}}
								</div>
								<div class="col-lg-12 col-sm-12 mr-auto">
									{{form.password1|as_crispy_field}}
								</div>
								<div class="col-lg-12 col-sm-12 mr-auto">
									{{form.password2|as_crispy_field}}
								</div>
								<div class="col-lg-12 col-sm-12 mr-auto">
									{{form.area|as_crispy_field}}
								</div>
							</div>
							<div class="col-lg-6 col-sm-12 ml-auto my-5">
								<input type="submit" value="Registrarme" class="btn btn-primary">
							</div>
						</form>
				</section>
			</div>

		</div>
	</div>
	{% endblock %}
	
